*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translate(20px);
            transform: translate(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translate(20px);
            transform: translate(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.btn:link, .btn:visited {
  display: inline-block;
  padding: 15px 40px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-radius: 100px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.btn:active {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.8);
          transform: scaleX(1.4) scaleY(1.8);
  opacity: 0;
}

.btn-animate {
  -webkit-animation: moveInBottom 2s ease-in-out 0.7s;
          animation: moveInBottom 2s ease-in-out 0.7s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-white {
  background-color: #fff;
  color: #333;
}

.btn-white::after {
  background-color: #fff;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
}

.header .logo-box {
  position: absolute;
  top: 30px;
  left: 30px;
}

.header .logo-box .logo {
  height: 35px;
}

.header .head-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header .head-box .heading-primary {
  color: white;
  text-transform: uppercase;
  /* cause background of animation element is shaking */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 30px;
}

.header .head-box .heading-primary-main {
  display: block;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 30px;
  -webkit-animation: moveInLeft 3s ease-out;
          animation: moveInLeft 3s ease-out;
}

.header .head-box .heading-primary-sub {
  display: block;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 10px;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
/*# sourceMappingURL=main.css.map */