@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";

@import "layout/grid";
@import "layout/header";

@import "pages/home";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  color: rgb(109, 107, 107);
  padding: 30px;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($light-green, 0.8),
      rgba($dark-green, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;

  .logo-box {
    position: absolute;
    top: 30px;
    left: 30px;
    .logo {
      height: 35px;
    }
  }

  .head-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    .heading-primary {
      color: white;
      text-transform: uppercase;

      /* cause background of animation element is shaking */
      backface-visibility: hidden;

      margin-bottom: 30px;
      &-main {
        display: block;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 30px;

        animation: moveInLeft 3s ease-out;
      }
      &-sub {
        display: block;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 10px;

        animation-name: moveInRight;
        animation-duration: 3s;
        animation-timing-function: ease-in;
      }
    }
  }
}

